@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body,
div {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.homeImg {
  width: 300px;
  height: auto;
}
